a:link, a:visited{
    color: rgb(196, 196, 68);
    text-decoration: none;
    cursor: pointer;
}
.bodytd1{
    position: relative;
    width: 100%;
    height: auto;
}
.video{
    width: 100%;
    height: auto;
}
.menutd{
    position: absolute;
    position: fixed;
    top:0px;
    height: 100px;
    width: 100%;
    background-color:none;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
}
.imgtd{
    width: 20%;
    margin-top: 20px;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
}
.menu-item{
    width: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.trangchu{
    color: rgb(196, 196, 67);
    font-size: 18px;
    cursor: pointer;
}
.wrap{
    position: relative;
    color: white;
    font-size: 17px;
    cursor: pointer;
padding-left: 30px;
}
.droptd{
    position: absolute;
    display: none;
    background-color: white;
    min-width: 130px;
    min-height: 30px;
}
.wrap:hover .droptd{
    display: block;
}
.conten-droptd{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    display: flex;
    height: 20px;
    width: 130px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    border-bottom: 1px solid rgb(228, 210, 210);
    border-top: rgb(214, 199, 199);
}
.menu-item2{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap:hover{
    color: rgb(173, 173, 50);
}
.input{
    width: 100vw;
    height: 200px;
    position: absolute;
    display: flex;
justify-content: center;
align-items: center;
top:400px;
}
.text1{
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    margin-left: 20px;
    background: none;
    width: 190px;
    height: 50px;
    font-size: 20px;
    padding-left: 20px;
   
}
.text2{
    font-size: 40px;
    margin-left: 10px;
    background-color: rgb(216, 68, 15);
    padding-left: 10px;
    width: 190px;
    height: 50px;
    border: 1px solid orangered;
    border-radius: 50px;
    color: white;
}
.viec{
    width: 100%;
    height: 300px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.bodytd2{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.khoi1{
    width: 500px;
    height: 500px;
}
.khoi2{
    width: 500px;
    height: 500px;
    margin-left: 80px;
    padding-left: 50px;
}
.ctimgtd1{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}
.imgcss{
    border-radius: 100%;
    width: 100%;
    transition: 3s all ease-in-out;

}

.imgtd1{
    width: 350px;
    height: 350px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 100%;
}
.imgtd1:hover .imgcss{
    transform: scale(1.5);
}
 